#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/stylesheet/' do
  # don’t filter or layout
end

compile '/codestyle/' do
  # don't filter or layout
end

compile '*/img/*' do 
  filter :imagesize, :width => 500
end

compile '*/img/*', :rep => :small do 
  filter :imagesize, :width => 150
end

compile '*/img/*', :rep => :medium do 
  filter :imagesize, :width => 300
end

compile '/tags/*' do
  filter :erb
  layout 'default'
end

compile '/education/' do
  filter :erb
  filter :kramdown
  layout 'summary'
end

compile '/programming/' do
  filter :erb
  filter :kramdown
  layout 'summary'
end

compile '/home/' do
  filter :erb
  filter :kramdown
  layout 'summary'
end

compile '/blog/' do
  filter :erb
  filter :kramdown
  layout 'summary'
end

compile 'background/*' do
  nil
end

compile '*' do
  #filter :colorize_syntax, :default_colorizer => :coderay
  filter :erb
  filter :kramdown
  layout 'default'
end

route '*/img/*' do
  item.identifier.chop + '_large.jpg'
end

route '*/img/*', :rep => :small do
  item.identifier.chop + '_small.jpg'
end

route '*/img/*', :rep => :medium do
  item.identifier.chop + '_medium.jpg'
end

route 'background/*' do
  item.identifier.chop + '.jpg'
end

route '/stylesheet/' do
  '/style.css'
end

route '/tags/*' do
  item.identifier + 'index.html'
end

route '*' do
  item.identifier + 'index.html'
end

layout '/summary/', :erb
layout '*', :erb

